.fc--base {
  color: #960510;
}

.bc--base {
  background-color: #960510;
}

::-moz-focus-inner {
  border: 0;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif, arial;
  font-size: 1rem;
  color: #330205;
  background-color: #fffcfc;
}

body {
  height: 100vh;
}

a {
  text-decoration: none;
  color: #0080d4;
  padding: 1px 10px;
  transition: 300ms ease;
  outline: medium none;
}
a:hover:not([class]) {
  background-color: rgba(0, 128, 212, 0.03);
}
a:focus:not([class]) {
  background-color: rgba(0, 128, 212, 0.03);
  border-bottom: 1px solid;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*::before, *::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.width {
  width: 100%;
}

.max--width {
  width: 1200px;
}

.min--height {
  min-height: 100vh;
}

hr {
  margin: 20px auto 30px;
  border: 0;
  border-bottom: 1px solid #f83c4a;
}

pre, code {
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: #fdbcc1;
  color: #960510;
  font-size: 0.9rem;
  line-height: 1.5;
  padding: 10px;
  overflow: auto;
  font-variant: normal;
}

.viewport--width {
  min-width: 100%;
}
.viewport--height {
  min-height: 100vh;
}

.text--small {
  font-size: 0.8em;
}
.text--big {
  font-size: 1.2em;
}
.text--variant {
  font-variant: small-caps;
}
.text--justify {
  text-align: justify;
}
.text--left {
  text-align: left;
}
.text--center {
  text-align: center;
}
.text--right {
  text-align: right;
}

.default, .predeterminado {
  width: calc(100% - 10px);
  max-width: 1200px;
}
.default:not(hr), .predeterminado:not(hr) {
  margin: 0 auto;
}

hr.default, hr.predeterminado {
  margin: 20px auto;
}

.copyright {
  min-height: 60px;
  display: flex;
  align-items: center;
}

.developer {
  position: relative;
  min-height: 30px;
}
.developer--link {
  text-decoration: none;
  color: #a1daff;
  outline: medium none;
}
.developer--link:hover {
  text-decoration: underline;
}

.main-flex {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}
.main-flex--item, .main-flex--content {
  flex-shrink: 1;
}
.main-flex--item {
  flex-grow: 0;
}
.main-flex--content {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-top: 1px solid #ede0c4;
  border-bottom: 1px solid #ede0c4;
  background-color: #fdfbf7;
  overflow: hidden;
}
.main-flex--content > * {
  z-index: 1;
}
.main-flex--content::before, .main-flex--content::after {
  content: "";
  display: block;
  position: absolute;
  margin: auto;
}
.main-flex--content::before {
  background-image: url("../images/vista-previa.jpg");
  background-size: 100% auto;
  filter: blur(5px);
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
  z-index: 0;
}
.main-flex--content::after {
  background-color: rgba(253, 251, 247, 0.9);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}
.main-flex--content h1, .main-flex--content h2, .main-flex--content h3, .main-flex--content h4, .main-flex--content h5, .main-flex--content h6 {
  font-variant: small-caps;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.direccion {
  line-height: 1.6;
  font-size: 0.8rem;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.imagen-aviso img {
  display: block;
  position: relative;
  width: 800px;
  max-height: 50vh;
  max-width: 100%;
}

header.main-flex--item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  background-color: white;
}

.red-social {
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
  justify-content: flex-start;
}
.red-social, .red-social a, .red-social li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.red-social li {
  padding: 0;
  margin: 0;
}
.red-social a {
  padding: 10px;
  transition: 300ms ease;
  border-radius: 3px;
  font-size: 1.1rem;
  display: flex;
  position: relative;
  width: 35px;
  height: 35px;
  color: gray;
}
.red-social a:hover {
  text-decoration: none;
}
.red-social a.twitter:hover {
  color: #1da1f2;
  background-color: #f6fbfe;
}
.red-social a.facebook:hover {
  color: #3b5998;
  background-color: #f2f4fa;
}
.red-social a.instagram:hover {
  color: #d64569;
  background-color: #fdf5f7;
}
.red-social a.youtube:hover {
  color: #ff0000;
  background-color: #fff0f0;
}

.footer {
  padding: 20px;
  background-color: white;
}

.modal {
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  opacity: 0;
  flex-direction: column;
  min-height: 100vh;
  background-color: #960510;
  z-index: 1000;
}
.modal > * {
  width: 100%;
  padding: 5px;
}
.modal:target {
  display: flex;
  opacity: 1;
  background-color: #fdfbf7;
  animation: 300ms cubic-bezier(0.3, 0, 0, 1) fadeIn 1;
}
.modal--item {
  flex-grow: 0;
  display: flex;
  min-height: 40px;
  align-items: center;
  background-color: white;
  padding-left: 20px;
}
.modal--item, .modal--content {
  flex-shrink: 1;
}
.modal--content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fill-vtelca {
  fill: #020000;
  animation: 3300ms linear alternate fillvtelca infinite;
}
.fill-vtelca:hover {
  fill: #960510;
}

#svg-vtelca {
  max-height: 300px;
}

.footer {
  font-size: 0.8rem;
  transition: 300ms ease;
}
@media screen and (max-width: 660px) {
  .footer {
    background-color: #fafafa;
  }
}
.footer-menu {
  list-style: none;
  padding-left: 20px;
}
.footer-menu--item {
  padding: 0;
  margin-bottom: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: minmax(100px, 1fr);
  grid-gap: 10px;
  color: #595959;
}
.grid--item {
  padding: 5px;
  overflow: hidden;
  word-break: break-all;
  padding: 10px 20px;
  background-color: #fefefe;
}
@media screen and (min-width: 661px) {
  .grid--item {
    border: 1px solid #e6e6e6;
  }
}
@media screen and (max-width: 660px) {
  .grid--item {
    border: 1px solid white;
    box-shadow: 0 0 2px silver;
  }
}
.grid--item:first-of-type {
  line-height: 1.6;
}

.flex-legal {
  font-variant: small-caps;
  font-size: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.flex-legal img {
  display: block;
  margin-bottom: 3px;
  transition: 300ms ease;
}
@media screen and (max-width: 299px) {
  .flex-legal img {
    max-height: 35px;
  }
}
@media screen and (min-width: 300px) and (max-width: 400px) {
  .flex-legal img {
    max-height: 40px;
  }
}
@media screen and (min-width: 401px) {
  .flex-legal img {
    max-height: 60px;
  }
}

.menu {
  list-style: none;
  padding-left: 10px;
}
.menu--item {
  padding: 0;
  margin-bottom: 10px;
}

.centradoXY {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.text--left {
  text-align: left;
}

@keyframes fadeIn {
  from {
    transform: scale(0.98);
    background-color: #960510;
    opacity: 0;
  }
  to {
    transform: scale(1);
    background-color: #fdfbf7;
    opacity: 1;
  }
}
@keyframes fillvtelca {
  from {
    fill: #c4973b;
  }
  to {
    fill: #960510;
  }
}

/*# sourceMappingURL=vtelca.css.map */
