@keyframes fadeIn {
    from {
        transform: scale(0.98);
        background-color: $color-base;
        opacity: 0
    }
    to {
        transform: scale(1);
        background-color: lighten($dorado, 48);
        opacity: 1;
    }
}

@keyframes fillvtelca {
    from {
        fill: $dorado;
    }

    to {
        fill: $color-base;
    }
}