::-moz-focus-inner {
    border: 0;
}
  
html, body {
    margin: 0;
    padding: 0;

    font: {
        family: "Open Sans", sans-serif, arial;
        size: 1rem;
    }

    color: darken($color-base, 20);
    background-color: lighten($color-base, 69);
}

body {
    height: 100vh;
}

// Enlaces
a {
    $color: #0080d4;
    text-decoration: none;
    color: $color;
    padding: 1px 10px;
    transition: 300ms ease;
    outline: medium none;

    &:hover:not([class]) {
        background-color: rgba($color, 0.03);
    }

    &:focus:not([class]) {
        background-color: rgba($color, 0.03);
        border-bottom: 1px solid;
    }
}

* {
    $box-sizing: border-box;

    -webkit-box-sizing: $box-sizing;
    -moz-box-sizing: $box-sizing;
    box-sizing: $box-sizing;

    &::before, &::after {
        -webkit-box-sizing: inherit;
        -moz-box-sizing: inherit;
        box-sizing: inherit;
    }
}

.width {
    width: $width;
}
.max {
    &--width {
        width: $max-width;
    }
}

.min {
    &--height {
        min-height: $min-height;
    }
}

// Linea horizontal
hr {
    margin: 20px auto 30px;
    border: 0;
    border-bottom: 1px solid lighten($color-base, 30);
}

// pre y code
pre, code {
    word-wrap: break-word;
    white-space: pre-wrap;
    background-color: lighten($color-base, 56);
    color: $color-base;

    font-size: 0.9rem;
    line-height: 1.5;
    padding: 10px;
    overflow: auto;
    font-variant: normal;
}

// Viewport
.viewport {
    &--width {
        min-width: $min-width;
    }

    &--height {
        min-height: $min-height;
    }
}

// Texto
.text {
    &--small {
        font-size: 0.8em;
    }

    &--big {
        font-size: 1.2em;
    }

    &--variant {
        font-variant: small-caps;
    }

    &--justify {
        text-align: justify;
    }

    &--left {
        text-align: left;
    }

    &--center {
        text-align: center;
    }

    &--right {
        text-align: right;
    }
}

// Predeterminado
.default, .predeterminado {
    width: calc(#{$width} - 10px);
    max-width: $max-width;

    &:not(hr) {
        margin: 0 auto;
    }
}

hr {
    &.default, &.predeterminado {
        margin: 20px auto;
    }
}

.copyright {
    min-height: 60px;
    display: flex;
    align-items: center;
}

// Desarrollador
.developer {
    position: relative;
    min-height: 30px;

    &--link {
        text-decoration: none;
        color: lighten(#0080d4, 40);
        outline: medium none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.main-flex {
    display: flex;
    flex-direction: column;
    width: $width;
    min-height: $min-height;

    &--item,
    &--content {
        flex-shrink: 1;
    }

    &--item {
        flex-grow: 0;
    }

    &--content {
        position: relative;
        flex-grow: 1;

        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 20px;
        $border: 1px solid lighten($dorado, 35);
        border-top: $border;
        border-bottom: $border;

        // Colores temporales
        background-color: lighten($dorado, 48);
        
        // Desbordamiento:
        overflow: hidden;

        & > * {
            // Solapamiento:
            z-index: 1;
        }

        // Imagen de fondo
        &::before,
        &::after {
            content: "";
            display: block;
            position: absolute;
            margin: auto;
        }
        
        &::before {
            background-image: url("../images/vista-previa.jpg");
            background-size: 100% auto;
            filter: blur(5px);
            $expandir: -20px;

            left: $expandir; right: $expandir;
            top: $expandir; bottom: $expandir;
            z-index: 0;
        }
        
        &::after {
            $color: lighten($dorado, 48);
            background-color: rgba($color, 0.9);
            left: 0; right: 0;
            top: 0; bottom: 0;
            z-index: 0;
        }

        
        h1, h2, h3, h4, h5, h6 {
            font-variant: small-caps;
            text-align: center;

            display: flex;
            justify-content: center;
            align-items: center;

        }
    }
}

.direccion {
    line-height: 1.6;
    font-size: 0.8rem;
    min-height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.imagen-aviso {
    img {
        display: block;
        position: relative;
        width: 800px;
        max-height: 50vh;
        max-width: 100%;
    }
}

// Cabecera
header.main-flex--item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    background-color: white;
}

// Redes Sociales
.red-social {
    margin: 0;
    margin-left: auto;
    padding: 0;
    list-style-type: none;
    justify-content: flex-start;

    // Cajas flexibles:
    &, a, li {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // Items:
    li {
        padding: 0;
        margin: 0;
    }
    
    // Enlaces:
    a {
        $diametro: 35px;
        padding: 10px;
        transition: 300ms ease;
        border-radius: 3px;
        font-size: 1.1rem;
        display: flex;
        position: relative;
        width: $diametro;
        height: $diametro;
        color: lighten($gris-2, 20);

        &:hover {
           text-decoration: none;
        }

        &.twitter:hover {
            color: $twitter;
            background-color: lighten($twitter, 45);
        }

        &.facebook:hover {
            color: $facebook;
            background-color: lighten($facebook, 55);
        }

        &.instagram:hover {
            color: $instagram;
            background-color: lighten($instagram, 42);
        }

        &.youtube:hover {
            color: $youtube;
            background-color: lighten($youtube, 47);
        }
    }
}

.footer {
    padding: 20px;
    background-color: white;
}

// Ventana Modal
.modal {
    // Posicionamiento de caja:
    position: fixed;
    margin: auto;
    left: 0; right: 0;
    top: 0; bottom: 0;

    display: none;
    opacity: 0;
    flex-direction: column;
    min-height: $min-height;
    & > * {width: 100%; padding: 5px;}

    background-color: $color-base;

    // Solapamiento:
    z-index: 1000;

    // Cuando se elige la ventana:
    &:target {
        display: flex;
        opacity: 1;
        background-color: lighten($dorado, 48);

        // Animaciones:
        animation: 300ms cubic-bezier(0.3, 0, 0, 1) fadeIn 1;
    }

    // ITEMS:
    &--item {
        flex-grow: 0;

        display: flex;
        min-height: 40px;
        align-items: center;

        background-color: white;
        padding-left: 20px;
    }

    &--item,
    &--content {
        flex-shrink: 1;
    }

    &--content {
        flex-grow: 1;

        // Cajas flexibles:
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.fill-vtelca {
    fill: darken($color-base, 30);
    // transition: 300ms ease;

    animation: 3300ms linear alternate fillvtelca infinite;
    &:hover {
        fill: $color-base;
    }
}

#svg-vtelca {
    max-height: 300px;
}

.footer {
    // Variablel de color de borde:
    $border-color: darken(white, 60);
    font-size: 0.8rem;
    transition: 300ms ease;
    
    @media screen and (max-width: 660px) {
        background-color: darken(white, 2);
    }

    &-menu {
        list-style: none;
        padding-left: 20px;

        &--item {
            padding: 0;
            margin-bottom: 10px;
        }
    }
}

// Rejillas
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: minmax(100px, 1fr);
    grid-gap: 10px;

    &--item {
        // Líneas guías:
        padding: 5px;
        overflow: hidden;

        word-break: break-all;
        padding: 10px 20px;

        background-color: darken(white, 0.5);
        @media screen and (min-width: 661px) {
            border: 1px solid darken(white, 10);
        }

        @media screen and (max-width: 660px) {
            border: 1px solid white;
            box-shadow: 0 0 2px silver;
        }

        &:first-of-type {
            line-height: 1.6;
        }
    }

    color: darken(white, 65);
}

.flex-legal {

    font: {
        variant: small-caps;
        size: 0.7rem;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    img {
        display: block;
        margin-bottom: 3px;

        transition: 300ms ease;
        @media screen and (max-width: 299px) {
            max-height: 35px;
        }

        @media screen and (min-width: 300px) and (max-width: 400px) {
            max-height: 40px;
        }

        @media screen and (min-width: 401px) {
            max-height: 60px;
        }
    }
}

// Menu
.menu {
    list-style: none;
    padding-left: 10px;

    &--item {
        padding: 0;
        margin-bottom: 10px;
    }
}

// Centrado:
.centradoXY {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
}

// Texto
.text {
    &--left {
        text-align: left;
    }
}