// Colores:
$color-base: rgba(150, 5, 16, 1);
$color-secundario: darken($color-base, 15);

$dorado: rgba(196, 151, 59, 1);
$gris-1: rgba(51, 51, 51, 1);
$gris-2: rgba(77, 77, 77, 1);

// Colores de las redes sociales:
$twitter: #1da1f2;
$facebook: #3b5998;
$instagram: #d64569;
$youtube: #ff0000;

// Proporciones
$width: 100%;
$max-width: 1200px;
$min-width: 100%;

$min-height: 100vh;